#wrapper {
    overflow: hidden;
    font-family: 'Krona One', sans-serif;
}

body {
    background-image: url(/assets/img/fon.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
}



.container {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    max-width: 1576px;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Krona One', sans-serif;
}



