.circle {
	animation-name: circle;
	animation-duration: 5s;
	position: relative;
	animation-timing-function: linear;
	animation-iteration-count: 3;
	animation-iteration-count: infinite;
	animation-direction: alternate-reverse;
	margin: 0;
	width: 50px;
	height: 50px;
	background: white;
	border-radius: 80%;
	@include media('<1024px'){
		display: none;
	}
	
}

.bounce {
	width: 50%;
	padding: 0 15px;
	@include media('<1023px'){
        display: none;
    }
}


.header-columns {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}


.burger-wrap {
	position: relative;
	text-align: center;
	width: 100%;
	display: inline-block;
    @include media('<780px'){
        width: 100%;
        display: inline-block;
		visibility: visible;
    }
    @include media('>1023px'){
        display: none;
    }
    .burger-active & {
        @include media('<1024px'){
            opacity: 1;
            visibility: visible;
        }
    }
}



@keyframes circle {
	0% {
		left: 30%;
	}
	50% {
		background-color: #ed5565;
	}
	100% {
		left: 500px;
	}
}


header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px 0;
	background: #181818;
	z-index: 1001;
    width: 100%;
	position: relative;
	@include media('<1024px'){
		height: 100px;
    }
}



.navbar {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	padding: 0 15px;
	@include media('>=1024px'){
		width: 50%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding: 0 15px;
		position: static;
	}
	@include media('<1024px'){
		visibility: hidden;
		opacity: 0;
	}
	.burger-active & {
		@include media('<1024px'){
			visibility: visible;
        	top: 65%;
        	display: flex;
			justify-content: space-around;
			width: 100%;
			opacity: 1;
		}
		@include media('<1024px'){
			visibility: visible;
			width: 100%;
			position: absolute;
			top: 60%;
		}
	}
}

.menu-list__item a {
	@include media('<640px'){
		font-size: 10px;
	}
}

.menu-list {
	@extend %listreset;
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	&__item:not(:last-child){
		padding-right: 20px;
	}
}



header h1,
header a,
.text p,
.about h1,
.skills h1,
.work h1,
.contact h1 {
	color: $white;
}


a {
	text-decoration: none;
	font-size: .9rem;
	text-transform: uppercase;
	@include media('<321px'){
		font-size: 0.7rem;
	}
}


.hover {
    letter-spacing: 0;
    text-decoration: none;
    transition: 0.1s;
    color: $white;
    position: relative;
}


.hover:hover {
	color: #ed5565;
}

.hover:after {
	display: block;
	position: absolute;
	left: 0; 
	width: 0;
	height: 5px; 
	background-color: #006373;
	content: "";
	transition: width 0.1s;
}

.hover:hover:after,
.hover:focus:after {
	width: 100%; 
}



