.skills {
	padding-bottom: 50px;
	@include media('<640px'){
		padding-bottom: 30px;
	}
	@include media('<320px'){
		padding-bottom: 15px;
	}
	@include media('<=1024px'){
		padding-bottom: 50px;
	}
}

.skills h1 {
	text-align: right;
	font-size: 10rem;
	opacity: .1;
	margin: 0;
	padding-bottom: 25px;
	
}

.skills h1 {
	@include media('<640px'){
		padding-bottom: 55px;
	}
}


.html {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 40px;
}

div[class^='tag-'] {
	clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0% 50%, 0% 0%);
	width: 140px;
	height: 30px;
	background-color: #1785a7;
	margin-right: 30px;
}

div[class^='tag-'] p {
	color: #fff;
	padding-left: 10px;
	font-size: 0.7rem;
	margin-top: 3px;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	width: 100%;
	min-height: 27px;
	@include media('<640px'){
		font-size: 0.6rem;
	}
}

.progressbar {
	position: relative;
	width: 535px;
	height: 20px;
	border: 2px solid #48cfad;
	border-radius: 20px;
	margin-top: 7px;
	@include media('<640px'){
		width: 430px;
	}
	@include media('<480px'){
		width: 400px;
	}
	@include media('<480px'){
		width: 260px;
	}
}

div[class^='bar-'] {
	position: absolute;
	background-color: #48cfad;
	height: 10px;
	border-radius: 20px;
	margin: 2.7px;
}

